.cards-category > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.cards-category > ul > li {
  border: none;
  background-color: transparent;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.cards-category .cards-category-card-image {
  line-height: 0;
}

.cards-category > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: 16px;
}

.cards-category .cards-category-card-body {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background: linear-gradient(transparent, rgb(0 0 0 / 60%));
  border-radius: 0 0 16px 16px;
}

.cards-category .cards-category-card-body h2 {
  font-size: var(--heading-font-size-s);
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.cards-category .cards-category-card-body a {
  color: #fff;
  text-decoration: none;
}

.cards-category > ul > li:hover img {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

@media (width >= 900px) {
  .cards-category > ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .cards-category .cards-category-card-body h2 {
    font-size: var(--heading-font-size-xxl);
  }
}
