.hero-product-container .hero-product-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px var(--container-padding);
  background-color: var(--light-color);
  overflow: hidden;
}

.hero-product > div {
  width: 100%;
  max-width: var(--container-max-width);
}

.hero-product > div:first-child {
  text-align: center;
}

.hero-product > div:first-child img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.hero-product h2 {
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  margin-top: 0;
  color: var(--text-color);
}

.hero-product h1 {
  font-weight: 400;
  color: var(--text-color);
  margin-top: 0.2em;
}

.hero-product p {
  color: var(--text-color);
}

.hero-product a.button {
  margin-top: 16px;
}

@media (width >= 900px) {
  .hero-product {
    flex-direction: row;
    min-height: 420px;
    padding: 64px var(--container-padding);
  }

  .hero-product > div:first-child {
    flex: 1;
  }

  .hero-product > div:first-child img {
    max-height: 400px;
  }

  .hero-product > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-product h2 {
    font-size: var(--heading-font-size-l);
  }
}
