.cards-promo-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.cards-promo-container .cards-promo-wrapper {
  padding: 0;
}

.cards-promo > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-promo > ul > li {
  border: none;
  background: none;
}

.cards-promo .cards-promo-card-image {
  line-height: 0;
}

.cards-promo > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: 16px;
}

.cards-promo .cards-promo-card-body {
  margin: 24px 0 0;
}

.cards-promo .cards-promo-card-body h2 {
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  color: var(--text-color);
  margin: 0 0 8px;
  line-height: 1.15;
}

.cards-promo .cards-promo-card-body p {
  font-size: 16px;
  color: #5c5c5c;
  line-height: 1.3;
  margin: 0 0 12px;
}

.cards-promo .cards-promo-card-body a {
  font-size: var(--body-font-size-s);
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.cards-promo .cards-promo-card-body a.button {
  background: none;
  border: none;
  padding: 8px 0;
  margin: 0;
  text-align: left;
}

.cards-promo .cards-promo-card-body a:hover {
  text-decoration: underline;
  opacity: 1;
}

@media (width >= 900px) {
  .cards-promo-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .cards-promo .cards-promo-card-body h2 {
    font-size: var(--heading-font-size-xl);
    margin: 32px 0 0;
  }

  .cards-promo .cards-promo-card-body p {
    font-size: 18px;
    margin: 12px 0;
  }
}
