/* Logitech Brown Font - Self-hosted */

@font-face {
  font-family: Brown;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BrownLogitechWebPan-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Brown;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BrownLogitechWebPan-Bold.woff2') format('woff2');
}

/* fallback font */
@font-face {
  font-family: brown-fallback;
  size-adjust: 97%;
  src: local('Arial');
}
